<br />
<br />
<div class="d-flex justify-content-center">
  <h1>Your Blogs</h1>
</div>
<br />
<br />
<div class="row row-cols-1 row-cols-md-3">
  <div *ngFor="let blog of blogs">
    <div class="col mb-4">
      <div class="card">
        <img
          src="{{ blog.image }}"
          class="card-img-top"
          style="height: 15rem"
          alt="..."
        />
        <div class="card-body">
          <h2 class="card-title">{{ blog.header }}</h2>
          <h3 class="card-subtitle mb-2 text-muted">{{ blog.subheader }}</h3>
          <div style="height: 15rem" class="overflow-auto">
            {{ blog.body }}
          </div>
            <span *ngFor="let tag of blog.tags">{{'#' + tag.name + ' '}}</span>
          <p class="card-text">
            <small class="text-muted">{{ blog.timestamp }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
