.add-blog {
    max-width: 400px;
  }
  
  .add-blog-image {
    background-size: cover;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }