<!-- <mat-card>
    <form [formGroup]="blogForm" (ngSubmit)="createBlog(blogForm.value)">
        <mat-label>
            Header
            <input type="text" formControlName = "header">
        </mat-label>
        <mat-label>
            Subheader
            <input type="text" formControlName = "subheader">
        </mat-label>
        <div>
            Image
            <input type="file" accept="image/*" (change)="onFileChanged($event)">
        </div>
        <mat-label>
            Body
            <input type="text" formControlName = "body">
        </mat-label>
        <button type="submit">Submit</button>
    </form>
</mat-card> -->



    <form [formGroup]="blogForm" (ngSubmit)="createBlog(blogForm.value)">
        <div>Image:</div><br>
        <input type="file" accept="image/*" (change)="onFileChanged($event)"><br>
        <mat-label>Header:</mat-label><br>
        <input type="text" formControlName = "header"><br>
        <mat-label>Subheader:</mat-label><br>
        <input type="text" formControlName = "subheader"><br>
        <mat-label>Body:</mat-label><br>
        <input type="text" formControlName = "body"><br>
        <button type="submit">Submit:</button>
    </form>


