<!-- <mat-card>
    <form [formGroup]="blogForm" (ngSubmit)="createBlog(blogForm.value)">
        <mat-label>
            Header
            <input type="text" formControlName = "header">
        </mat-label>
        <mat-label>
            Subheader
            <input type="text" formControlName = "subheader">
        </mat-label>
        <div>
            Image
            <input type="file" accept="image/*" (change)="onFileChanged($event)">
        </div>
        <mat-label>
            Body
            <input type="text" formControlName = "body">
        </mat-label>
        <button type="submit">Submit</button>
    </form>
</mat-card> -->
<div class = "d-flex justify-content-center">
<div class="card text-center" style="width: 19rem;">
    <div class="card-header">
        Add-Blog
      </div>
      <br>
<form [formGroup]="blogForm" (ngSubmit)="createBlog(blogForm.value)">
<mat-form-field appearance="fill">
    <mat-label>Header:</mat-label><br>
    <input matInput type="text" formControlName="header"><br>
</mat-form-field>
<br>
<mat-form-field appearance="fill">
    <mat-label>Subheader:</mat-label><br>
    <input matInput type="text" formControlName="subheader">
</mat-form-field>
<br>
<mat-form-field appearance="fill">
    <mat-label>Body:</mat-label><br>
    <input matInput type="text" formControlName="body"><br>
</mat-form-field>
<br>
<div class="input-group mb-3">
    <div class="input-group-prepend">
       </div>
       <div class="custom-file">
       <input type="file" class="custom-file-input" id="inputGroupFile01">
       <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
       <!-- <input type="file" class= "accept="image/*" (change)="onFileChanged($event)"><br> -->
    </div>
</div>
<button type="submit" class = "btn btn-primary">Submit:</button>
</form>
</div>
</div>